<div class="content">

  <div class="images">

      <img
      class="home"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      src="../../../assets/icons/home.svg" alt="">

      <img class="lamp"
      [routerLink]="['/cadastrar-lampada']"
      routerLinkActive="router-link-active"
      src="../../../assets/icons/lamp.svg" alt="">

      <img class="perfil"
      (click)="onTapLogOut()"
      routerLinkActive="router-link-active"
      src="../../../assets/icons/logout-button.svg" alt="">

  </div>


</div>


