

<body>
  <header>
    <app-header  class="header">Cálculo</app-header>
  </header>
  <div class="text-superior">


  <app-texto-superior>
    Selecione a subcategoria do ambiente escolhido
  </app-texto-superior>

</div>
<div class="botoes">
  <app-botao-selecao (click)="navigateTo($event, 'LOCAL')" routerLinkActive="router-link-active">Local</app-botao-selecao>
  <app-botao-selecao (click)="navigateTo($event, 'GERAL')" routerLinkActive="router-link-active">Geral</app-botao-selecao>
</div>
  <app-menu></app-menu>
<div class="footer"></div>
</body>

