<div class="main-container">
  <body>
    <div class="justify-center-div">
      <header>
        <app-header class="header">Cálculo</app-header>
      </header>
      <h3>Selecione a precisão das tarefas a serem realizadas neste ambiente</h3>
      <div  class="botao" >
        <app-botao-selecao (click)="navigateTo($event, 'BAIXA')" routerLinkActive="router-link-active">Baixa</app-botao-selecao>
        <app-botao-selecao (click)="navigateTo($event, 'MEDIA')" routerLinkActive="router-link-active">Média</app-botao-selecao>
        <app-botao-selecao (click)="navigateTo($event, 'ALTA')" routerLinkActive="router-link-active">Alta</app-botao-selecao>
      </div>
      <app-menu></app-menu>
    </div>
  </body>
</div>
