@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../../../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../../../assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../../../assets/fonts/OpenSans-Bold.ttf);
}

.main-container{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  @media only screen and (min-width:990px) {
    padding-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header {
  text-align: center;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 8%;
  left: 0rem;
  top: 0rem;
  background: #FFC10E;

  @media only screen and (min-width: 990px) {
    height: 60px;
  }

    h1 {
      font-family: 'OpenSans-Bold';
      font-size: 2.8rem;
      color: #2156AE;
      position: relative;
      text-align: center;
      margin-top: 0rem;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      // @media  (orientation : landscape) {
      //   font-size: 2.2rem;
      @media only screen and (min-width: 990px) {
        font-size: 0.9rem;
      }
      }


  }

body {
  position: fixed;
  background-color: #F8F8F8;
  width: 100%;
  height: 100%;
  overflow: hidden;

   @media only screen and (min-width: 990px) {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

  .justify-center-div{
    overflow: hidden;
    @media only screen and (min-width: 990px) {
      background-color: #F8F8F8;
    }
    h3{
      margin-bottom: 0px;
      text-align: center;
      margin-top: 20px;
      font-size: 3rem;
      padding: 35px;
      @media only screen and (min-width: 990px) {
        font-size: 20px;
      padding: 0px;
      }
    }
  }
  
    .content {
        position: fixed;
        display: flex;
        text-align: center;
        height: 100%;
        width: 100%;
        justify-content: center;
        margin-left: 3%;
        @media only screen and (min-width: 990px) {
          position: relative;
          height : 350px;
        }
        @media  (orientation : landscape) and (max-width: 990px){
          margin-left: 27.5%;
        }




          .button {
            height: 17%;
            width: 32%;
            border-radius: 1.5rem;
            box-shadow: 0px 0px 15px -3px #31313144;
            background-color: #f8f8f8 ;
            margin-top: 8%;
            margin-right: 7%;
            text-align: center;

            @media  (orientation : landscape) {
              width: 100px;
              height: 100px;
              margin-top: -150px;
              border-radius: 0.5rem;

            }

            // @media only screen and (min-width: 990px) {
            //   height: 25%;
            //   width: 28%;


            // }

            // @media only screen and (min-width: 990px) {
            //   margin-left: 2%;
            // }



            .icon {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              img {
                width: 80%;
                height: 80%;

                // @media  (orientation : landscape) {
                //   height: 60%;
                //   width: 60%;

                // }
              }
            }

            .text {

              margin-top: 30%;
              @media only screen and (min-width: 990px) {
                margin-top: 28%;


            }
              // @media  (orientation : landscape) {
              //   margin-top: 38%;

              // }
              h1 {
                font-family: 'OpenSans-Regular';
                font-size: 2rem;
                color: #585858;
                line-height: 3rem;
                // @media  (orientation : landscape) {
                //   font-size: 1.3rem;


                // }
                @media only screen and (min-width: 990px) {
                  font-size: 10px;
                  line-height: 1rem;
                  width: 100%;

              }

              }
            }

            .text2 {

              margin-top: 31%;

              h1 {
                font-family: 'OpenSans-Regular';
                font-size: 2rem;
                color: #585858;
                line-height: 3rem;
                @media  (orientation : landscape) {
                  font-size: 1.3rem;

                }
                @media only screen and (min-width: 990px) {
                  font-size: 1.4rem;

              }
              @media only screen and (min-width: 1650px) {
                font-size: 1.4rem !important;


            }
              }
            }
          }
        }
}

@media only screen and (min-width: 990px) {

  .content {
    position:relative;
    margin:0 auto;
    justify-content: center;
    align-items: center;
  }


}

@media only screen and (min-width: 990px) {
  .footer{
background: white;
height: 300px;
  }
}








