<div class="container">
  <app-header>Cálculo</app-header>
  <div class="text-superior">
    <app-texto-superior>Certo! Para manter uma boa iluminação neste ambiente, será necessário uma
      quantidade de no mínimo {{ model.quantidade }} lúmens</app-texto-superior>
  </div>

  <div class="lampada">
    <img src="../../../../assets/images/iluminous.png" alt="" />
  </div>

  <div class="botão">
    <app-botao-avancar
      [routerLink]="['/tipo-lampada']"
      routerLinkActive="router-link-active"
      >Avançar</app-botao-avancar
    >
  </div>

  <app-menu></app-menu>
  <div class="footer"></div>
</div>
