<div class="main-container">
  <div class="container">
    <div class="justify-center-div">
      <app-header class="header">Cálculo</app-header>
      <h3>Informe a largura e o comprimento em metros do ambiente escolhido</h3>
      <div class="form">
        <form>
          <p>
            <input
              #comprimento
              name="comprimento"
              [(ngModel)]="model.comprimento"
              #comprimento="ngModel"
              required="required"
              type="number"
              placeholder="Comprimento"

            />
          </p>
          <p>
            <input
              #largura
              name="largura"
              [(ngModel)]="model.largura"
              #largura="ngModel"
              required="required"
              type="number"
              placeholder="Largura"
            />
          </p>

          <div class="botao" >
            <app-botao-avancar
            (click)="calcularLumens()"
            class="btn"
            routerLinkActive="router-link-active"
            >Avançar</app-botao-avancar
          >
          </div>



        </form>
      </div>
      <app-menu></app-menu>
    </div>
  </div>
</div>

